{% extends "base.html" %}

{% block content %}
	<div class="container">
		<div class="col-sm-9 col-md-10 main">
			<div class="row placeholders">
				<h2>About</h2>
			    <blockquote>
			    	<em>Plotto</em>, as a Method of plot <b>suggestion</b> for writers of <b>creative</b> fiction, is founded upon this law: <b>Purpose, expressed or implied, opposing Obstacle, expressed or implied, yields Conflict.</b>
			    </blockquote>
			    <p>
			    	So writes novelist William Wallace Cook in the introduction to his 1928 book, <em>Plotto: A New Method of Plot Suggestion for Writers of Creative Fiction</em>, in which he enumerates 1,462 plots.
			    </p>
			    <p>
			    	This website attempts to bring those 1,462 plots to budding and experienced writers alike, displaying a random selection from Wallace's book. It also displays what Wallace called "Masterplots," generic scenarios comprised of a protagonist, an action, and a way to continue and terminate the action. Combine a Masterplot with random conflicts and a story will spring forth!
			    </p>
			</div>
		</div>
  	</div>
{% endblock %}
</html>
