{% extends "base.html" %}

{% block content %}
	<div class="container">
		<div class="jumbotron">
			<h2>Random Conflict</h2>
			<p>{{ conflict }}</p>
			<p>
        <div class="row">
          <div class="col-md-6">
            <a class="btn btn-primary btn-md" href="{{ url_for('index') }}" role="button">Give me another!</a>
          </div>
          <div class="col-md-6">
            <a class="btn btn-xs pull-right" data-toggle="modal" data-target="#abbrModal">
              View character abbreviations
            </a>
          </div>
        </div>
      </p>
      <div class="modal fade" id="abbrModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Character Abbreviations</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th class="col-xs-3"/>
                          <th class="col-xs-9"/>
                        </tr>
                      </thead>
                      <tbody>
                          {% for m in male_abbr %}
                          <tr>
                            <td>{{ m }}</td>
                            <td>{{ male_abbr[m] }}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th class="col-xs-3"/>
                          <th class="col-xs-9"/>
                        </tr>
                      </thead>
                      <tbody>
                          {% for f in female_abbr %}
                          <tr>
                            <td>{{ f }}</td>
                            <td>{{ female_abbr[f] }}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
		</div>
	</div>

	<div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>Random Character</h3>
          <p>{{ character }}</p>
          <p><a class="btn btn-default" href="{{ url_for('characters') }}" role="button">Browse characters &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h3>Random Action</h3>
          <p>{{ action }}</p>
          <p><a class="btn btn-default" href="{{ url_for('actions') }}" role="button">Browse actions &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h3>Random Termination</h3>
          <p>{{ termination }}</p>
          <p><a class="btn btn-default" href="{{ url_for('terminations') }}" role="button">Browse terminations &raquo;</a></p>
        </div>
      </div>
  	</div>
{% endblock %}
</html>